.quem-somos-main-containerr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.carousel-quem-somosss {
  height: 400px;
  width: 550px;

  background-color: #c1c;
}

.quem-somos-main-text {
  height: 850px;
  width: 580px;

  background: rgba(255, 255, 255, 0.61);

  border-radius: 20px;

  overflow: hidden;

  margin-top: 130px;
}

.quem-somos-text-par {
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 3px;
  font-size: 22px;
  color: rgb(87, 72, 72);
}
